<div class="p-6">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    @switch (viewState()) {
        @case ('list') {
            <app-users-list
                [users]="users()"
                [loading]="loading()"
                (add)="showForm()"
                (edit)="showForm($event)"
                (delete)="onDelete($event)">
            </app-users-list>
        }
        @case ('form') {
            <app-users-form
                [userId]="selectedUserId()"
                (cancelled)="showList()"
                (saved)="onFormSave()">
            </app-users-form>
        }
    }
</div>
