<div class="p-6">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    <app-data-table
        [title]="'dashboard.controlPanel.pests.title' | translate"
        [data]="pests"
        [cols]="cols"
        [loading]="loading"
        tableId="pests-table"
        [showAddButton]="true"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)">
    </app-data-table>

    <p-dialog [(visible)]="displayDialog" [style]="{width: '450px'}" [header]="(selectedPest.id ? 'common.edit' : 'common.add') | translate" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-dynamic-form
                [config]="formConfig"
                [initialData]="selectedPest"
                [submitLabel]="'common.save'"
                [cancelLabel]="'common.cancel'"
                (formSubmit)="savePest($event)"
                (formCancel)="hideDialog()">
            </app-dynamic-form>
        </ng-template>
    </p-dialog>
</div>
